/*------Color Scheme------ */
/* 
#49A0B5  light blue
#3B8699  medium blue
#04899B
#2A3852  dark blue
#FDD44A  yellow
#38C790  green
#CE593F  red
#9E9EA0  grey
*/

/*-------Body Font-------*/
body, html {
    font-size: 14px;
    font-family: 'Gothic A1', sans-serif;
}

/*-------Nav Bar-------*/
#top-nav{
    border-bottom:1px solid rgba(33,37,41,.1);
    background-color:#fff;
    -webkit-transition:all .2s;
    -moz-transition:all .2s;
    transition:all .2s
}

#top-nav .navbar-brand {
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    color: #38C790;

}


#top-nav .navbar-brand:focus,#top-nav .navbar-brand:hover{
    color:#38C790
}

#top-nav .navbar-nav>li>a,#top-nav .navbar-nav>li>a:focus{
    font-size:.9rem;
    font-weight:700;
    text-transform:uppercase;
    color:#212529
}

#top-nav .navbar-nav>li>a:focus:hover,#top-nav .navbar-nav>li>a:hover{
    color:#38C790
}

#top-nav .navbar-nav>li.active>a,#top-nav .navbar-nav>li>a:focus.ac{
    color:#38C790!important;
    background-color:transparent;
}

#top-nav .navbar-nav>li.active>a:hover,#top-nav .navbar-nav>li.active>a:focus:hover{
    background-color:transparent;
}

.navbar-toggler {
    background-color: #38C790;
    border-color: #38C790!important;
    color:#fff;
    font-size: 12px;
    text-transform: uppercase;
}

.navbar-collapse{
    text-align: right;
}

.navbar-inverse .navbar-toggler:focus, .navbar-inverse .navbar-toggler:hover{
    background-color: #38C790;
}

li{
    padding-left: 10px;
}


/*-------Jumbotron-------*/
.jumbotron {
    position: relative;
    margin-bottom: 0;
    padding: 0;
    width: 100vw;
    height: 400px;
    overflow: hidden;
    background: transparent;
    -webkit-transition: all 800ms ease-in-out;
	-moz-transition: all 800ms ease-in-out;
	-ms-transition: all 800ms ease-in-out;
	-o-transition: all 800ms ease-in-out;
    transition: all 800ms ease-in-out;
    text-align: center;
}
.jumbotron .container {
  padding-top: 7em;
  padding-bottom: 7em;
  color: white;
}
.jumbotron .container{
  margin-bottom: 1em;
  font-size: 2rem;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.50);
}

.jumbotron-bg {
  background: url("../images/PortfolioBackground.png") no-repeat center fixed; 
  background-size: cover;
  position: fixed;
  width: 100%;
  /* height: 50px; */
  top: 0;
  left: 0;
  z-index: -999;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.arrowImg{
    width: 70px;
}

/*-------Sections Formatting-------*/
h1.title {
    display: block;
    font-size: 36px;
    font-weight: 100;
    padding: 10px 0;
    margin-bottom: 44px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
}

.row {
    margin-bottom: 8em;
}

.section {
    position: relative;
    padding-top: 50px;
    padding-bottom: 40px;
    
}
.animated {
    opacity: 1 !important;
}

a.btn {
    background-color: #38C790;
    color: #fff !important;
}

a.btn:hover {
    color:#fff !important;
    background-color: #32ac7d;
}
/*-------About-------*/
#about p {
    text-align: center;
}

#about{
    margin-top: 200px;
}

/*-------Skills-------*/
#skills {
    text-align: center;
    background-color: #38C790;
    color: white;
}

#skills h4{
	margin-bottom: 40px;
}

.devicons:before {
    font-size: 4em;
    color: white;
}

.InDesign{
    height: 4em;
    margin-bottom: 3px;
}


/*-------Portfolio-------*/
#portfolio h2 {
    margin-top: 0;
}

#portfolio a {
    text-decoration: none;
    transition: color .2s;
    color: #212529;
}

#portfolio a:hover {
    color:  #38C790;
}

#portfolio hr {
    margin-bottom: 60px;
}

#portfolio hr:first-of-type{
    border: none;
}

.img-responsive{
    width: 100%;
}
/*-------Process-------*/
#process {
    background-color: #49A0B5 ;
    color: #fff;
    text-align: center;
}

#process h2{
    text-align: left;
}

#process p{
    text-align: left;
}


/*-------Contact-------*/
#contact {
    background-color: #2A3852 ;
    color: #fff;
    text-align: center;
}

#contact .col-sm-6{
    text-decoration: none;
    color: #49A0B5 ;
}
#contact a{
    text-decoration: none;
    color: #49A0B5 ;
}
#contact a:hover{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.1em;
    
}


/*-------Screen Change Formatting-------*/

@media (min-width: 900px){
    li{
        padding-left: 10px;
    }

    .jumbotron-bg {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .jumbotron .container h1 {
        font-size: 3rem;
    }

    #top-nav{
        padding-top:25px;
        padding-bottom:25px;
        -webkit-transition:padding-top .3s,padding-bottom .3s;
        -moz-transition:padding-top .3s,padding-bottom .3s;
        transition:padding-top .3s,padding-bottom .3s;
        border:none;
        background-color:transparent;
        background-color:transparent
    }
    
    #top-nav .navbar-brand{
        font-size:3em;
        -webkit-transition:all .3s;
        -moz-transition:all .3s;
        transition:all .3s;
        color:rgba(255,255,255,.7)
    }
    
    #top-nav .navbar-brand:focus,#top-nav .navbar-brand:hover{
        color:#fff
    }

    #top-nav .navbar-nav>li>a,#top-nav .navbar-nav>li>ak:focus{
        color:rgba(255,255,255,.7)
    }
    
    #top-nav .navbar-nav>li>a:focus:hover,#top-nav .navbar-nav>li>a:hover{
        color:#fff
    }
    
    #top-nav.navbar-shrink{
        padding-top:0;
		padding-bottom:0;
        border-bottom:1px solid rgba(33,37,41,.1);
        background-color:#fff
    }

    #top-nav.navbar-shrink .navbar-brand{
        font-size: 2em;
        color:#38C790
    }

    #top-nav.navbar-shrink .navbar-brand:focus,#top-nav.navbar-shrink .navbar-brand:hover{
        color:#38C790
    }

    #top-nav.navbar-shrink .navbar-nav>li>a,#top-nav.navbar-shrink .navbar-nav>li>a:focus{
        color:#212529
    }

    #top-nav.navbar-shrink .navbar-nav>li>a:focus:hover,#top-nav.navbar-shrink .navbar-nav>li>a:hover{
        color:#38C790
    }

    #top-nav.navbar-shrink .navbar-nav>li.active>a{
        background-color:transparent;
    }

    h1.title {
        font-size: 50px;
        margin-bottom: 44px;
    }

    #about p {
        font-size: 20px;
    }
}
